<div *ngIf="dataLoaded == false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded != false" class="table table-bordered">
    <tr>
        <td>Product Id</td>
        <td>Category Id</td>
        <td>Product Name</td>
        <td>Unit Price</td>
        <td>Units In Stock</td>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.productId}}</td>
        <td>{{product.categoryId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitsInStock}}</td>
    </tr>
</table>
